{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <center>
        <h1>Mail sending</h1>
        <p>Here you can send mails to everyone who subscribed to the newsletter! How fun!</p>
        <p>Choose your message:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </center>
</body>
</html>